.background-custom {
  background-color: #22ebb9; 
}

.w3-margin-top {
  margin-top: 0px !important;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.list-group-item {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 48%;
}

.list-group-item h5 {
  margin: 0;
  font-size: 1.25rem;
}

.list-group-item p {
  margin: 5px 0;
}

.list-group-item small {
  color: #666;
}

.list-group-item img {
  max-width: 150px;
  margin-right: 20px;
  border-radius: 50%;
}

.list-group-item .price {
  font-weight: bold;
  color: #0275d8;
}

.list-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row .list-group-item {
  margin-bottom: 20px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.msg-fim {
  display: flex;
  justify-content: center;
  align-items: center;  
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
